*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'inter',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #f1f2f4;
  
}
.container{
    max-width: 1334px;
    margin: auto;
}

header{
    height: 66px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #474748;
    background-color: white;
}
.searchbar{
    margin: 0px 10px;
    margin: 0px 10px;
    justify-content: baseline;
    height: 40px;
    width: 560px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #777a7e;
    background-color: #f0f5ff;
}
.searchbar input{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
}
.searchbar i{
    font-size: 22px;
    margin: 0px 8px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.top:hover{
    color: blue;
    font-weight: 450;
}
.top i{
    font-size: 16px;
}
div>.arrow{
    font-size: 10px;
}
.container{
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 8px 15px 8px 15px;
}
.ctimginfo:hover{
    color: black;
    text-decoration: underline darkblue;
    color: blue;
}
.ctinfo{
    font-weight: bold;
}
.ctimg{
    height: 64px;
    width: 64px;
}
input[type="search"]{
    width: 467px;
}
.mobheading{
     padding-left: 40px;
    background-color: white;
    margin: 8px 15px 0px 15px;
}
.mobcontainer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 0px 15px 8px 15px;
}
.mobimginfo{
    height: 260px;
    width: 200px;
    border: gray 1px solid;
    font-size: 14px;
}
.mobimg{
    height: 152px;
    width: 152px;
    margin: auto;
    margin-top: 10px;
}
.mobinfo{
    margin-top: 50px;
    text-align: center ;
}
.mobimginfo:hover{
    box-shadow:2px 3px 8px black;
    font-weight: 550;
}

.wacontainer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 0px 15px 8px 15px;
}
.waimginfo{
    height: 260px;
    width: 200px;
    border: gray 1px solid;
    font-size: 14px;
}
.waimg{
    height: 152px;
    width: 152px;
    margin: auto;
    margin-top: 10px;
}
.wainfo{
    margin-top: 50px;
    text-align: center ;
}
.waheading{
    padding-left: 40px;
    background-color: white;
    margin: 8px 15px 0px 15px;
}
.waimginfo:hover{
    box-shadow:2px 3px 8px black;
    font-weight: 550;
}
.footer1{
    background-color: black;
    height: 240px;
    width: 100%;
    display: flex;
    color: gray;
    justify-content: space-around;
    font-weight: 350;
    padding-top: 30px;
}
.foot{
    color: white;
    font-size: 13px;
}
h4{
    font-size: 14px;
    font-weight: 400;
}
.un:hover{
    text-decoration: underline;
    color: blue;
}
.vr{
    height: 200px;
}
.footer2{
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    color: gray;
    justify-content: space-around;
    padding:20px 0px 20px 0px;
}
.ak{
    color: #777a7e;
    padding:5px;
    font-size: 20px;
}
.ak:hover{
    color: red;
}
.anim{
    color: yellow;
}
.text{
    color: white;
}

.box1000 {
    height: 600px;
    background-color: white;
  }
  .box1001 {
    height: 900px;
    margin: 20px;
    margin-top: 15px;
    background-color: white;
  }
  .box2000 {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .box2001 {
    margin-top: 20px;
    margin-left: 0px;
    display: inline;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .box2003 {
    display: inline;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  .box2004 {
    margin-left: 0px;
    margin-top: 10px;
    display: inline;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .box2005 {
    display: inline;
    font-size: 0.9rem;
  }
  .box2006 {
    display: inline;
    margin-left: 0px;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .box2007 {
    margin-top: 10px;
    display: inline;
    font-size: 0.9rem;
  }
  .box2008 {
    display: inline;
    margin-left: 0px;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .box2009 {
    margin-top: 10px;
    display: inline;
    font-size: 0.9rem;
  }
  
  .box2010 {
    display: inline;
    margin-left: 0px;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .box2011 {
    margin-top: 10px;
    display: inline;
    font-size: 0.9rem;
  }
  .box2012 {
    display: inline;
    margin-left: 0px;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .box2013 {
    margin-top: 10px;
    display: inline;
    font-size: 0.9rem;
  }
  .box2014 {
    display: inline;
    margin-left: 0px;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .box2015 {
    margin-top: 10px;
    display: inline;
    font-size: 0.9rem;
  }
  .box2016 {
    display: inline;
    margin-left: 0px;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .box2017 {
    margin-top: 10px;
    display: inline;
    font-size: 0.9rem;
  }
  .text:hover,.anim:hover{
    color: red;
    text-decoration: underline white;
  }
